h2 {
    color: #FFE2D2;
    text-align: left;
}


  #HomePage{
    font-size: 300%;
    color: #668EB9;
    display: block;
  }
  
  #Message{
    margin-left: 5%;
    margin-right: 5%;
  }

  #bar{
    background-color: #FF8800;
    font-size: x-large;
    color: #FFE2D2;
    text-align: center;
    height: max-content;
  }
  #project-list {
    color:#B3C7DC ;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
  }