@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Footer{
    background-color:#668EB9;
    /* color: #FF8800; */
    color: #FFE2D2;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 35px;

}